.icon-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-text-icon {
  font-size: 64px;
}

.icon-text-text-container {
  text-align: center;
}

.icon-text-title {
  font-weight: 700;
  font-size: 24px;
}

.icon-text-desc {
  font-size: 14px;
  color: #22222280;
}
