.resume-container {
  background-color: #222;
  height: 100%;
  width: 100%;
  margin-left: 100px;
}

@media screen and (max-width: 800px) {
  .resume-container {
    margin-top: 65px;
    margin-left: 0px !important;
  }
  .resume-download-pdf-link-container {
    margin-bottom: -10px !important;
  }
}

.resume-download-pdf-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: -20px;
  text-decoration: none;
  color: #f2f2f2;
}

.resume-download-pdf-icon {
  font-size: 24px;
  margin-left: 5px;
}
