.card-slider-next-arrow {
  width: auto;
}

.card-slider-next-arrow {
  width: auto;
}

.card-slider-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5%;
  text-align: left;
  color: #f2f2f2;
}
