.grid-view-title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5%;
  align-items: center;
  justify-content: space-between;
}

.grid-view-title {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.grid-view-title-more-button {
  text-decoration: none;
  color: #1976d2;
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
}

.grid-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-card {
  width: 30%;
  min-width: 230px;
  margin-bottom: 50px;
}
