.tab-container {
  background-color: #222222;
}
.tab-title-container {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #f2f2f2;
}
.active-tab {
  display: flex;
  align-items: center;
  margin: 0px;
  color: #f2f2f2;
  padding: 10px;
  border: solid 1px;
}
.passive-tab {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #f2f2f2;
  padding: 0px 10px;
  border: solid 1px;
  cursor: pointer;
}
.tab-icon {
  font-size: 20px;
  padding: 5px;
}

.tab-content-container {
  /* margin: 5%; */
}
